.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnn{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 10px;
    height:40px;
    width:80px;
    cursor:pointer
  }
  .dialog {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 550px;
    text-align: center;
    line-height: 2px;
   
  }
  .btn{
    height:30px;
    background-color: blue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .textbox{
    display: flex;
    margin-left: 8px;
    height: 30px;
    width: 100%;
    margin-right: 8px;
  }
  .squaredesc{
    margin-top: 35px;
    border-radius: 10px; 
  background-color: #f2f2f2; 

 
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  }
  .squaredesc p{
    white-space: pre-line;
    margin-top: 10px;
  }
  
  .start{
    padding: 3px;
  }

  .start IoCheckmarkDoneCircleSharp{
    background-color: blue;
    color: blue;
  }
.title label{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;

}
.group{
  display: flex;
  flex-direction: row;
 
  
 
}
.group button{
  background-color: blue;
  border-radius: 5px;
  border: 2px solid;

}
.skilltext{
  height:120px;
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
}

  .formclass{
    margin: 50px;
    
  }
  .group2{
    display: flex;
    flex-direction: row;
  }


  .label{
    display: inline-block;
   
  }
  .desc{
    display: flex;
   margin-top: 30px;
   margin-left: 40px;
   gap: 10px;
   font-weight: bold;
  }
  .submit{
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px solid black;
  }